<h1>Thank you for joining The Paper Game!</h1>
<p>Click the url below to confirm your email address:</p>
<p><%= link_to @account_activation_url, @account_activation_url %></p>
<p>
  If the above URL does not work, try copying and pasting it into your browser's address bar.
  If you continue to have problems, please feel free to contact us.
</p>