<h1>The Paper Game Login Reminder</h1>
<p>
  Someone requested a login name reminder from The Paper Game for this email address.
  The login associated with this email address is:
</p>
<p><b><%= @login %></b></p>