<h1>The Paper Game Password Reset</h1>
<p>A password reset request has been made for your account. If you requested this, click the link below the select your new password.</p>
<p><%= link_to @password_reset_url, @password_reset_url %></p>
<p>
  If the above URL does not work, try copying and pasting it into your browser's address bar.
  If you continue to have problems, please feel free to contact us.
</p>