<h1>Example Sheet</h1>
<p>
  What's a <em>sheet</em>? It's a complete sequence of plays, starting from a single sentence, following along with each response through the end of the game. It is what you would consider the progression of the rumor in a game of telephone. Check it out:
</p>