<% content_for :body_class do %>home<% end  %>

<h1>The Paper Game — what is it?</h1>
<p>
  The Paper Game is a game of humor, creativity, and wild misinterpretation. You'll write, you'll draw, and you'll laugh!
</p>
<h2>How do I play?</h2>
<p>
  The rules are simple. First, everyone writes a sentence – any sentence! – which gets sent to the next player down the line. That player then reads the setence and draws a picture that portrays the scenario in the sentence. The picture then gets passed on to the next player, who writes a sentence describing the picture.
</p>
<p>
  <strong>In short, if you're looking at a picture, describe it; if you're reading a sentence, draw it.</strong> And that's it!
</p>
<p>
  Here are few tips to help you on your way:
</p>
<ul>
  <li><strong>Have fun!</strong> Absurd sentences are more than okay!</li>
  <li><strong>Can't draw?</strong> Don't worry, bad drawings are better! If the next player can perfectly reconstruct the original sentence from your picture, the game hasn't really moved forward, has it?</li>
  <li><strong>Or maybe don't draw at all.</strong> If you'd rather break out the Play-Doh and photograph your subject or what have you, you can upload any picture you want. Just keep in mind that it will be resized to 500-by-300 in the default view.</li>
  <li><strong>You don't have to be literal!</strong> Maybe those three trick-or-treaters are Pinky, Inky, and Blinky in a desperate search for Clyde. Some people just add sheep to everything.</li>
  <li><strong>Or maybe be too literal.</strong> If you get a sentence about a couple "making love" but you hate drawing beds, perhaps they are working on an assembly line or something? I don't know, that's your problem now; just remember the most important thing:</li>
</ul>
<p>
  <strong>HAVE FUN!</strong>
</p>
<h2>Where do I start?</h2>
<p>
  Your privacy matters to us, so all game content is only visible to users that participated in that game. In order to join a game, you'll have to <%= link_to 'register for an account', new_account_path %> first.
</p>
<p>
  After that, you'll probably want to <%= link_to 'find a game to join', games_path %>.
</p>
<!--<p>
  Still not really sure what's going on? Check out the <%= link_to 'example sheet', '/example' %>.
</p>-->
<h2>Anything else?</h2>
<p>
  Well, if you insist, here are a few rules, just in case your good judgement has gone on vacation:
</p>
<ul>
  <li><strong>Be polite and respectful.</strong> Other players might add you to their ban lists if you offend them, and then you will not have any friends, and that will make you sad. Know your audience; if you're not sure if the other other players in the game would appreicate a drawing of a penis, ask in chat.
  <li><strong>Don't break the law.</strong> Things that are illegal in real life are also illegal on the internet. Don't use material you don't own. (Remixing, referencing, satirizing, recontextualizing, and other exceptions for fair use obviously apply.) Don't share images that might cause the FBI to knock on your door one day. Maybe just delete those images from your hard drive, while you're at it. Please don't use this service to discuss terrorist plots or anything; the chat is permenantly logged and I really don't want to get subpoenaed. Thanks!
  <li>And again, <strong>HAVE FUN!</strong> If you break this rule, the FBI will find you for sure.
</ul>